# Gmail API Credentials
GMAIL_CLIENT_ID=your_client_id_here
GMAIL_CLIENT_SECRET=your_client_secret_here
GMAIL_REFRESH_TOKEN=your_refresh_token_here
GMAIL_USER=your_email@gmail.com

# LLM / OpenRouter
OPENROUTER_API_KEY=your_openrouter_api_key_here
# MODEL=openai/gpt-4o-mini
# OPENROUTER_URL=https://openrouter.ai/api/v1/chat/completions

# External API Integration
QUERY_SYSTEM_URL=https://your-api.com/api/tickets
QUERY_API_KEY=your_api_key_here

# GCP / PubSub
GCP_PUB_SUB_TOPIC=projects/your-project-id/topics/your-topic-name

# Server
PORT=8000
